Repository jnicrimi/portfolio: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, yamllint, eslint, prettier, hadolint

markdownlint:
  run: markdownlint {staged_files}

yamllint:
  run: yamllint --strict {staged_files}

eslint:
  run: docker compose run --rm nuxt yarn eslint {staged_files}

prettier:
  run: docker compose run --rm nuxt yarn prettier --check {staged_files}

hadolint:
  run: hadolint {staged_files}

chore: disable document-start rule
  .yamllint.yml
Due: yamllint

chore: remove yaml document separators
  .coderabbit.yaml
  .github/dependabot.yml
  .github/workflows/lint-docker.yml
  .github/workflows/lint-frontend.yml
  .github/workflows/preset-pr.yml
  .hadolint.yaml
  .markdownlint.yml
  .yamllint.yml
  docker-compose.yml
  lefthook.yml
Due: yamllint

chore: rename yaml file extensions to yml
  .coderabbit.yml
  .hadolint.yml
Due: yamllint

chore: update yarn dependencies
  frontend/yarn.lock
Due: none

fix: restrict workflow permissions
  .github/workflows/lint-docker.yml
  .github/workflows/preset-pr.yml
Due: yamllint

chore: simplify editorconfig
  .editorconfig
Due: none

chore: reorder commitlint types
  commitlint.config.js
Due: none

chore: optimize dockerfile
  docker/nuxt/Dockerfile
Due: hadolint

fix: correct docker port mapping
  docker-compose.yml
Due: yamllint

chore: remove run-name from workflows
  .github/workflows/lint-frontend.yml
  .github/workflows/preset-pr.yml
Due: yamllint

ci: add concurrency to lint-docker workflow
  .github/workflows/lint-docker.yml
Due: yamllint

refactor: simplify commitlint config
  commitlint.config.js
Due: none

chore: add GitHub Copilot instructions
  .github/copilot-instructions.md
Due: markdownlint

fix: disable no-useless-assignment rule for Vue files
  frontend/eslint.config.js
Due: eslint, prettier

chore: replace git-secrets with gitleaks in lefthook
  lefthook.yml
Due: yamllint

chore: update gitleaks commands to non-deprecated alternatives
  lefthook.yml
Due: yamllint

chore: remove redundant repo path from gitleaks command
  lefthook.yml
Due: yamllint

fix: migrate @vercel/speed-insights to Nuxt module registration
  frontend/layouts/default.vue
  frontend/nuxt.config.ts
Due: eslint, prettier

fix: remove dependabot skip condition from lint workflows
  .github/workflows/lint-docker.yml
  .github/workflows/lint-frontend.yml
Due: yamllint

chore: update CodeRabbit config
  .coderabbit.yml
Due: yamllint

chore: add CODEOWNERS and clean up dependabot config
  .github/CODEOWNERS
  .github/dependabot.yml
Due: yamllint

ci: add dependabot cooldown config
  .github/dependabot.yml
Due: yamllint

ci: remove redundant dependabot cooldown settings
  .github/dependabot.yml
Due: yamllint

ci: remove dependabot dependency groups
  .github/dependabot.yml
Due: yamllint

ci: pin hadolint-action to v3.3.0
  .github/workflows/lint-docker.yml
Due: yamllint

feat: migrate from yarn to pnpm v10
  .github/workflows/lint-frontend.yml
  .yamllint.yml
  docker/nuxt/Dockerfile
  frontend/.gitignore
  frontend/.prettierignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/yarn.lock
  lefthook.yml
Due: yamllint, hadolint

chore: remove unused legacy eslint packages
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: yamllint

chore: remove unused justfile commands
  justfile
Due: none

chore: migrate from dependabot to renovate
  .github/dependabot.yml
  renovate.json
Due: yamllint

chore: remove copilot instructions
  .github/copilot-instructions.md
Due: markdownlint

chore: remove pnpm minimumReleaseAge setting
  frontend/pnpm-workspace.yaml
Due: yamllint

build(deps): override axios and vite via pnpm overrides
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: yamllint

chore: tune renovate release age and add vuln alerts
  renovate.json
Due: none

fix(frontend): switch tailwind to @tailwindcss/vite for vite 8 build
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tailwind.config.js
Due: yamllint, eslint, prettier

fix(frontend): pin vue-eslint-parser to v10 for eslint-plugin-vue 10.9 compat
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: yamllint

fix(frontend): pin tailwindcss to 4.2.2 via pnpm overrides
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: yamllint

chore: switch renovate schedule to daily cron window
  renovate.json
Due: none

fix(renovate): skip tailwindcss 4.2.3/4.2.4
  renovate.json
Due: none

build: persist corepack cache via named volume
  docker-compose.yml
Due: yamllint

chore: enable coderabbit auto review
  .coderabbit.yml
Due: yamllint

Path conditions:
  markdownlint: any of: *.md
  yamllint: any of: *.{yml,yaml}
  eslint: any of: *.{js,ts,vue} and ^frontend/
  prettier: any of: *.{js,ts,vue} and ^frontend/
  hadolint: any of: **/Dockerfile
