Repository jnicrimi/portfolio: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, yamllint, eslint, prettier

markdownlint:
  run: markdownlint {staged_files}

yamllint:
  run: yamllint --strict {staged_files}

eslint:
  run: docker-compose run --rm nuxt npx eslint {staged_files}

prettier:
  run: docker-compose run --rm nuxt npx prettier --check {staged_files}

build(lefthook): add root
  lefthook.yml
Due: yamllint

build(docker): npm
  docker/nuxt/Dockerfile
Due: none

feat: create page
  frontend/app.vue
  frontend/assets/img/avatar.png
Due: eslint, prettier

feat: remove app.vue, add layouts, add pages
  frontend/eslint.config.js
  frontend/layouts/default.vue
  frontend/pages/index.vue
Due: eslint, prettier

fix: layout
  frontend/layouts/default.vue
  frontend/pages/index.vue
Due: eslint, prettier

feat: error page
  frontend/error.vue
  frontend/eslint.config.js
  frontend/layouts/default.vue
  frontend/pages/index.vue
Due: eslint, prettier

feat: contentful
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/pages/index.vue
  frontend/plugins/contentful.ts
  frontend/yarn.lock
Due: eslint, prettier

ci: lint frontend
  .github/workflows/lint-frontend.yml
Due: yamllint

build(lefthook): use yarn
  lefthook.yml
Due: yamllint

build(lefthook): hadolint
  lefthook.yml
Due: yamllint

ci(github-actions): lint dockerfile
  .github/workflows/lint-dockerfile.yml
  .hadolint.yaml
Due: yamllint

refactor(github-actions): change job name
  .github/workflows/lint-dockerfile.yml
  .github/workflows/lint-frontend.yml
Due: yamllint

ci(github-actions): change hadolint job name
  .github/workflows/lint-dockerfile.yml
Due: yamllint

build(npm): update
  package-lock.json
Due: none

build(yarn): upgrade
  frontend/yarn.lock
Due: none

chore: fix typo
  lefthook.yml
Due: yamllint

fix(dependabot): fix directories
  .github/dependabot.yml
Due: yamllint

feat: makefile
  Makefile
Due: none

perf(lefthook): parallel
  lefthook.yml
Due: yamllint

refactor: rename lint-docker
  .github/workflows/lint-docker.yml
Due: yamllint

ci: test
  docker/nuxt/Dockerfile
Due: none

chore: remove blank
  .github/workflows/lint-docker.yml
Due: yamllint

build(yarn): update lock
  frontend/yarn.lock
Due: none

fix(eslint): disable no-require-imports
  frontend/tailwind.config.js
  lefthook.yml
Due: yamllint, eslint, prettier

style: nuxt config
  frontend/nuxt.config.ts
Due: eslint, prettier

ci: remove github actions workflow, dependabot auto merge
  .github/workflows/dependabot-auto-merge.yml
Due: yamllint

fix: github actions
  .github/workflows/lint-frontend.yml
  .github/workflows/preset-pr.yml
Due: yamllint

refactor: github actions
  .github/workflows/lint-docker.yml
  .github/workflows/lint-frontend.yml
Due: yamllint

feat: justfile
  Makefile
  justfile
Due: none

feat: dependabot, groups
  .github/dependabot.yml
Due: yamllint

fix: import contentful
  frontend/plugins/contentful.ts
Due: eslint, prettier

feat: upgrade node
  docker/nuxt/Dockerfile
Due: none

fix: upgrade tailwind css v4
  frontend/assets/css/main.css
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/tailwind.config.js
  frontend/yarn.lock
Due: eslint, prettier

feat: daisyui v5
  frontend/assets/css/main.css
Due: none

chore: clean up editorconfig
  .editorconfig
Due: none

chore: update commitlint configuration
  commitlint.config.js
  lefthook.yml
Due: yamllint, eslint, prettier

chore: remove root-level Node.js dependencies
  .github/dependabot.yml
  .gitignore
  package-lock.json
  package.json
Due: yamllint

chore: disable MD029 rule
  .markdownlint.yml
Due: yamllint

Path conditions:
  markdownlint: any of: *.md
  yamllint: any of: *.{yml,yaml}
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue}
